<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>KPI Map text input</title>
        <link rel="stylesheet" type="text/css" th:href="@{css/styles.css}" >
        <link rel="stylesheet" type="text/css" th:href="@{css/normalize.css}" >
        <script src="https://cdn.jsdelivr.net/npm/paho-mqtt@1.1.0/paho-mqtt.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
    <div id="input" class="centering-2">
        <input class="text_input" type="text" id="input_str" placeholder="Write searched room or lector's name">
        <div class="label-container">
            <label class="checkbox-label">
                <span class="checkbox-label-float-left">Find by person name</span>
                <input class="label_find_person" type="checkbox" value="Find by person name" onclick="send_message(false)">
                <span class="checkmark"></span>
            </label>
            <input class="label_find_room" type="submit" value="Find room" onclick="send_message(true)">
        </div>
    </div>
    <div id="output">
        <p>Received:</p>
        <ol id="list">

        </ol>


    </div>
        <script th:inline="javascript" type="text/javascript">

            var clientId = [[${clientId}]] + new Date().getTime();
            var topic = [[${topic}]]+"/"+clientId;

            var mqttClient = new Paho.Client([[${broker}]], [[${port}]], "/mqtt", clientId);
            mqttClient.onConnectionLost = onConnectionLost;
            mqttClient.onMessageArrived = onMessageArrived;
            mqttClient.connect({onSuccess: onConnect, reconnect: true});

            function onConnect() {
                console.log("onConnect");
                mqttClient.subscribe(topic);
            }

            function onConnectionLost(responseObject) {
                if (responseObject.errorCode !== 0) {
                    console.log("onConnectionLost:" + responseObject.errorMessage);
                }
            }

            function onMessageArrived(message) {
                document.getElementById('input_str').value = "";
                console.log("onMessageArrived for topic '" +message.destinationName +"': " + message.payloadString);
                $("#list").append($('<li>').append(message.payloadString));
                //obj = JSON.parse(message.payloadString);
                //cursors[message.destinationName]=obj;
            }

            function send_message(isRoom) {
//'http://localhost:8080/test/shared_input'
//'http://mapwebservice.herokuapp.com/test/shared_input'
                $.ajax({
                    url: 'http://mapwebservice3.herokuapp.com/test/shared_input',
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({
                        recognized:document.getElementById("input_str").value,
                        room:isRoom,
                        clientid:clientId
                    }),
                    complete: function(response) {
                        console.log(response);
                    }
                });
            }
        </script>
    </body>
</html>
